:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}

.reset-container {
  width: 100%;
  max-width: 500px;
  padding: 3rem;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #fafafa;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 2rem;
}

input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.1rem;
  border-radius: 999px; // pill shape
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #3f51b5;
  }
}

button {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0800ff;
  }
}
